.settings
*.class
*.project
*.orig
**/.classpath
**/.factorypath
**/.springBeans

lib/
target/

**/node_modules
**/coverage
**/npm-debug.log
**/bower_components
**/target
**/node
**/build
**/typings

**/logs
*.log

