.settings
*.class
*.project
*.orig
**/.classpath
**/.factorypath
**/.springBeans

lib/

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

**/node_modules
**/coverage
**/npm-debug.log
**/bower_components
**/target
**/node
**/build
**/typings

**/logs
*.log

