name: Java CI with Maven

on:
  push:
    branches: master
  pull_request:
    branches: '*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2  
    
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'zulu'
            
    - name: Cache local Maven repository
      uses: actions/cache@v3
      with:
        path: ~/.m2/
        key: ${{ runner.os }}-maven-${{ hashFiles('pom.xml') }} 
    
    - name: Build with Maven
      run: mvn clean verify

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
